node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Test artifacts
coverage

# Cypress artifacts
cypress/downloads
cypress/screenshots
cypress/videos
